<!-- BatalhaController as vm -->
<div class="row justify-content-md-center m-top-10" ng-init="vm.init()">
    <div title="Jogador Principal">
        <h2>Bem-vindo(a), {{vm.jogador.nickname}}</h2>
    </div>
    <div>
        <div class="jumbotron">
            <div ng-if="vm.telaVsJogador">
                <div class="col-sm-12 text-center">
                    <h3>Batalhe contra um jogador cadastrado!</h3>
                </div>
                <form ng-submit="vm.batalharVsJogador(vm.jogador2)">
                    <div class="form-group">
                        <label>Oponente</label>
                        <select name="oponente" id="oponente" class="form-control" ng-options="oponente as oponente.nickname for oponente in vm.jogadores" ng-model="vm.jogador2"></select>
                    </div>
                    <div class="form-group">
                        <p>Heroi do oponente</p>
                        <div ng-if="vm.jogador2.personagem">
                            <span>Vida: {{vm.jogador2.personagem.vida}}</span><br>
                            <span>Ataque: {{vm.jogador2.personagem.ataque}}</span><br>
                            <span>Forca: {{vm.jogador2.personagem.forca}}</span><br>
                            <span>Inteligencia:{{vm.jogador2.personagem.inteligencia}}</span><br>
                            <span>Defesa: {{vm.jogador2.personagem.defesa}}</span><br>
                            <span>Velocidade:{{vm.jogador2.personagem.velocidade}}</span><br>
                            <span>Poder: {{vm.jogador2.personagem.poder}}</span><br>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Batalhar!</button>
                    <button class="btn btn-primary" ng-click="vm.irTelaVsComputador()">Batalhar contra a máquina</button>
                </form>
            </div>
            <div ng-if="vm.telaVsComputador">
                <form>
                    <table class="table table-condensed table-stripped table-hover table-bordered"></table>
                    <thead>
                        <tr>
                        <th>Mensagem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="msg in batalhaCtrl.log track by $index">
                            <th> {{msg}}</th>
                        </tr>

                    </tbody>
                    
                </form>
            </div>
        </div>
    </div>
    </div>
</div>