<div ng-controller="CadastroController as cadastroCtrl" class="row justify-content-md-center m-top-10">
    <div class="col col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Cadastro</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form ng-submit="cadastroCtrl.cadastro(cadastroCtrl.pessoa)">
                            <div class="form-group">
                                <label for="txt-nome">Nome</label>
                                <input id="txt-nome" ng-model="cadastroCtrl.pessoa.nome" ng-required="true"
                                    class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="txt-cpf">CPF</label>
                                <input id="txt-cpf" ng-model="cadastroCtrl.pessoa.cpf" ng-required="true"
                                    class="form-control" type="text">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Cadastrar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>